*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}



.fight-sim {
  gap: 0px;
}

.header {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  font-weight: bold;
  /* background-color: black; */
  background: linear-gradient(to right, #1E90FF, #FF4136);
  color: gold;
  border-radius: 10px;
  border: 3px solid goldenrod;
  box-shadow: 0 0 20px rgba(255, 217, 0, 0.6);
}

.fight-form {
  display: flex; 
  align-items: flex-start;
  justify-content: center; 
  gap: 20px;
}

.search-container {
  margin-top: 50px;
  gap: 100px;
  text-align: center;
  display: flex;  
}

.fighter-column1,
.fighter-column2 {
  border-radius: 10px;
  flex: 0; 
  display: flex;
  flex-direction: column;
}

.fighter-column1 {
  color: #1E90FF;
}

.fighter-column2 {
  color: #FF4136;
}

.fighter-column1 label,
.fighter-column2 label {
  text-align: center;
  display: block;
  font-weight: bold;
}

.fighter-search {
  position: relative;
}

.fighter-search input {
  padding: 10px;
  border: 2px solid goldenrod;
  border-radius: 6px;
  outline: none;
  font-size: 1rem;
  background: #2b2b2b;
  color: white;
  transition: 0.2s;
  width: 100%;
}

.fighter-input.blue-corner:focus {
  border-color: #1E90FF;
  box-shadow: 0 0 8px #1E90FF;
}

.fighter-input.red-corner:focus {
  border-color: #FF4136;
  box-shadow: 0 0 8px #FF4136;
}

.search-results {
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  gap: 50px;
  max-height: 200px;
  overflow-y: scroll;    
  border: 1px solid gold;
  border-radius: 5px;
  list-style: none;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.search-results li {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
}

.search-results li:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 8px gold;
}

.fight-button button {
  background-color: black;
  color: gold;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: gold;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.fight-button button:hover {
  background-color: gold;
  color: black;
  transform: scale(1.1);
  box-shadow: 0 0 12px gold;
}

.result {
  margin-top: 30px;
  padding: 15px;
  background: black;
  color: gold;
  font-size: 22px;
  font-weight: bold;
  border: 2px solid gold;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.4);
}

.fight-breakdown {
  margin-top: 20px;
  padding: 15px;
  padding-left: 20px !important;
  background: black;
  color: gold;
  font-size: 18px;
  border: 2px solid gold;
  border-radius: 10px;
  max-height: 300px;
  width: fit-content;
}